.arrow-left-0 {
    position: absolute;
    width: 0; 
    height: 0;     
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #ff4b47; 
}

.arrow-right-0 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #a9ddf2;
}

.arrow-left-1 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #49a6a7; 
}

.arrow-right-1 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #a749a8;
}

.arrow-left-2 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    
    border-right:97px solid #ffc13f; 
}

.arrow-right-2 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 97px solid #ffe53a;
}

.arrow-left-3 {
    position: absolute;
    width: 0; 
    height: 0;     
    border-top: 60px solid transparent; 
    
    border-right:97px solid #ff4b47; 
}

.arrow-right-3 {
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    
    border-left: 97px solid #a9ddf2;
}