table{
    border: solid 2px black;
    border-collapse: collapse;
}

td{    
    height: 40px;
    width: 40px;
}

.premier{
    background-color: #ffffff;
}

.deux{
    background-color: #e67f7e;
}

.trois{
    background-color:#d83e3b;
}