td{    
    padding: 5px;
    height: 40px;
    width: 40px;
}

.premier{
    background-color: #cccccc;
}

.deux{
    background-color: #999999;
}

.trois{
    background-color: #666666;
}

.quatre{
    background-color: #333333;
}