body{
    margin-left: 20px;
}

#topbody > b{
    color: crimson;
    float: left;
    font-size: larger;
}

#gauche{
    float: left;
    max-width: 53%;
    margin: 2%;
}

h1{
    font-size: 58px;
}

#graspetit{
    font-weight: bold;
    width: 150px;
}

#encart{
    width: 150px;
    height: 45px;
    text-align: center;
    padding: 2px;
    border-top: solid black 2px;
    border-bottom: solid black 1px;
}

figure {
    border: thin black solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    float: right;
}


figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.first-letter-red{
    font-size: 40px;
    color: crimson;
}

.first-letter-black{
    font-size: 35px;
    color: black;
}

#gaucheh3{
    font-size: 25px;
}

#encart-droite{
    float: left;
    max-width: 35%;
    border: solid black 2px;
}

#gaucheh3{
    max-width: 45%;
}

#droite{
    max-width: 42%;
    float: left;
    border: 3px solid black;
}

#hautdroite{
    width: 48%;
    float: left;
    padding: 15px;
}

#articledroite{
    display: inline-block;
    max-width: 100%;    
}

#imgdroite{
    border: black solid 1px;
    /* max-height: 100%; */
    width: 45%;
}

#encart-central{
    border: black solid 2px;
    max-width: 35%;
    float: left;
}

#imgcentral{
    width: 100%;
}

#encartbas{
    float: left;
    background-color: blue;
    color: white;
}

#texte{
    color: white;
}